# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Dependencies
package-lock.json
yarn.lock

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Test coverage
coverage/

# Other files to ignore
*.tgz
*.zip
*.rar
